# The most evil invention from Macos!
.DS_Store

Thumbs.db
db.json
*.log
node_modules/
.deploy*/
_multiconfig.yml

# VSCode
*.code-workspace
.vscode

# Hugo
public/
resources/_gen
/assets/jsconfig.json
hugo_stats.json